@import url("https://fonts.googleapis.com/css2?family=Foldit&family=Hi+Melody&family=Song+Myung&display=swap");
@font-face {
  font-family: "heir_of_lightregular";
  src: url("../font/heiroflightregular-webfont.woff2") format("woff2"),
    url("../font/heiroflightregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/**/

html {
  cursor: none;
}
body {
  font-family: "Pretendard Std Variable", "Hi Melody", Arial, sans-serif;
  font-size: 16px;
  position: relative;
}

/* header */
header.row {
  line-height: 5.06em;
  margin-top: 1em;
  margin-left: 0;
  margin-right: 0;
  box-sizing: border-box;
  padding: 0 2.5em;
}
.logo_img {
  box-sizing: border-box;
  padding: 5px;
  margin-left: 2em;
}
.navi > li {
  width: 25%;
  text-align: center;
}
.navi > li a {
  color: var(--BG_N);
  text-transform: uppercase;
}

.navi > li a::after {
  content: "";
  display: block;
  position: relative;
  border-bottom: 2px solid var(--BG_N);
  width: 0em;
  height: 2px;
  top: -1em;
  left: 2.9em;
  transform: scaleX(0);
  transition: transform 0.5s cubic-bezier(0.82, -0.01, 0.45, 1.32);
}
.navi > li:hover a:after {
  width: 5em;
  transform: scaleX(1);
}
.navi > li:hover a {
  font-weight: 600;
}

.ham_BTN {
  position: relative;
  transition: 0.3s ease-in-out;
  width: 45px;
  height: 34px;
}
.ham_BTN span {
  position: absolute;
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background: #333;
  top: 0;
  transition: 0.2s ease-in-out;
}
.ham_BTN span:nth-child(2),
.ham_BTN span:nth-child(3) {
  top: 13px;
}
.ham_BTN span:nth-child(4) {
  top: 26px;
}
#toggle:checked + .ham_BTN span:nth-child(1),
#toggle:checked + .ham_BTN span:nth-child(4) {
  opacity: 0;
  transform: translateX(100%);
}
#toggle:checked + .ham_BTN span:nth-child(2) {
  transform: rotate(45deg);
}
#toggle:checked + .ham_BTN span:nth-child(3) {
  transform: rotate(-45deg);
}
#toggle {
  display: none;
}

.h_icon {
  line-height: 5.25em;
  display: block;
  height: 5.25em;
}
.h_icon > ul > li.sprite {
  margin-top: 2em;
}
.D_mode {
  transition: transform 0.3s;
}
.D_mode:hover {
  transform: scale(1.2);
}
.lang {
  background-position: -3.85em 0.1em;
  position: relative;
}

.sub_nav {
  width: 3.563em;
  height: 0em;
  background: var(--BG_N);
  position: absolute;
  top: 2.8em;
  left: -1.05em;
  border-radius: 0.313em;
  transition: 0.5s;
  visibility: hidden;
  z-index: 999999999;
}
.lang:hover {
  transform: rotateX("360deg");
}
.sub_nav.tog_open {
  height: 6.75em;
  visibility: visible;
}

.sub_nav.tog_open::before {
  border: 1.25em solid;
  border-color: transparent transparent var(--BG_N) transparent;
  visibility: visible;
}

.sub_nav::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 0em solid;
  border-color: transparent transparent var(--BG_N) transparent;
  top: -2em;
  left: 0.5em;
  visibility: hidden;
  z-index: 999999999;
}
.sub_nav > li {
  height: 30%;
  text-align: center;
  line-height: 30%;
}

.sub_nav > li a {
  display: inline-block;
  position: relative;
  color: var(--FONT_W);
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  line-height: 2.5em;
  font-size: 1em;
  transition: transform 0.3s;
}
.sub_nav > li:hover a {
  transform: scale(1.2);
}
.arrow {
  width: 2.3em;
  height: 3.5em;
  background-position: -8.8em -0.5em;
  position: absolute;
  bottom: 24.5%;
  left: 12.5%;
  animation: arrowB 2s cubic-bezier(0.22, 0.04, 0.81, 0.98) infinite normal;
}
.arrow > a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* .arrow > span {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 3px solid var(--SEC_LG);
  position: absolute;
  top: calc(-50% + 0.9em);
  left: calc(-50% - 0.5em);
} */

@keyframes arrowB {
  0% {
    height: 3.5em;
  }
  50% {
    height: 1.75em;
  }
  100% {
    height: 0em;
  }
}

/* 다크모드 */
.dark header > svg {
  fill: var(--SEC_LG);
}
.dark .navi > li > a {
  color: var(--SEC_LG);
}
.dark .navi > li a::after {
  border-bottom: 2px solid var(--SEC_LG);
}
.dark .lang .sub_nav {
  background: var(--SEC_LG);
}
.dark .sub_nav.tog_open::before {
  border-color: transparent transparent var(--SEC_LG) transparent;
}
.dark .lang .sub_nav > li a {
  color: var(--BG_N);
}

.dark .D_mode {
  background-position: -1.75em 0.1em;
}
.dark .lang {
  background-position: -5.75em 0em;
}
.dark .arrow {
  background-position: -11.1em 0em;
}

/* main */
section {
  width: 100%;
  height: 100vw;
  position: relative;
}

/* secion1 */
#top {
  position: relative;
  height: 1024px;
}
.mLine {
  position: absolute;
  width: 90%;
  height: 3px;
  background: var(--Font_B);
  z-index: 99999;
  top: 78px;
  left: 0;
}
.t_ml {
  animation: mtline 4s cubic-bezier(0.12, 0.11, 0.92, 0.95) normal;
}
@keyframes mtline {
  0% {
    width: 0;
  }
  45% {
    width: 45%;
  }
  95% {
    width: 90%;
  }
  100% {
    width: 90%;
  }
}
.t_ml:after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: var(--Font_B);
  top: -15px;
  right: -15px;
  position: absolute;
  border-radius: 50%;
  animation: mwon 4s cubic-bezier(0.26, 0.26, 0.73, 0.77) reverse;
}
@keyframes mwon {
  0% {
    width: 0px;
  }
  80% {
    width: 0px;
  }
  99% {
    width: 15px;
  }
  100% {
    width: 30px;
  }
}
.b_ml {
  width: 70%;
  top: 645px;
  left: 30%;
  animation: mbline 4s cubic-bezier(0.12, 0.11, 0.92, 0.95) normal;
}
@keyframes mbline {
  0% {
    width: 70%;
  }
  100% {
    width: 0%;
  }
}
.b_ml::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: var(--Font_B);
  top: -15px;
  left: -15px;
  position: absolute;
  border-radius: 50%;
  animation: mwon 4s cubic-bezier(0.26, 0.26, 0.73, 0.77) reverse;
}
.m_tit {
  display: inline-block;
  text-align: center;
}
.m_tit span {
  font-family: "heir_of_lightregular", Arial, serif;
  color: var(--Font_B);
  text-transform: uppercase;
  font-size: 7.25em;
  position: absolute;
  z-index: 999;
}
.m_tit span:first-of-type {
  top: 1em;
  right: 0.5em;
  width: 100%;
}
.m_tit span:last-of-type {
  top: 2.3em;
  right: 1.5em;
}
.m_subT {
  font-family: "Song Myung", Arial, serif;
  font-size: 1.2em;
  line-height: 27px;
  text-align: right;
  text-transform: uppercase;
  position: absolute;
  bottom: 45%;
  right: 10.5%;
}
.m_FB {
  font-family: "Pretendard Std Variable", Arial, sans-serif;
  font-weight: 600;
}

/* 다크모드 메인 */
.dark .mLine,
.dark .t_ml:after,
.dark .b_ml::before {
  background: var(--sec_s);
}
.dark .m_tit span {
  color: var(--sec_s);
}
.dark .m_subT {
  color: var(--FONT_W);
}

/* tit h1 */
.m_fh1 {
  font-family: "Song Myung", serif;
  font-size: 1.2em;
  font-weight: 400;
  font-size: 65px;
  line-height: 81px;
  text-transform: uppercase;
  color: #1a4170;
  position: absolute;
  left: 45px;
  top: 61px;
}
.ms_R {
  left: 80%;
}

/* work main */
#work {
  height: 1024px;
}
.content {
  padding-top: 14em;
  overflow: hidden;
}
.list {
  width: 100vw;
  height: 100%;
  gap: 6em;
}
.list li {
  width: 33%;
  position: relative;
  display: block;
}
.list li a {
  display: inline-block;
  width: 100%;
}
.workBg_blob {
  display: block;
  width: 32em;
  margin-left: 1.5em;
}
.list li:hover .workBg_blob {
  transform: scale(1.2);
}

.main_txt {
  color: var(--FONT_W);
  position: absolute;
  top: 22%;
  left: 30%;
  text-align: center;
  line-height: 27px;
  font-family: "Pretendard Std Variable";
}

.scrollX {
  margin-top: 7em;
}

/* section3*/
.prof_L {
  display: inline-block;
  width: 50%;
  background: #e8e9e9;
}

.prof_R {
  /* position: fixed; */
  display: inline-block;
  height: 1024px;
  width: 50%;
  top: 0;
}
.pro_R_blobs {
  position: relative;
}
.fix_photo {
  background-image: url(../img/photo/001.jpg);
}
.prof_photo {
  position: absolute;
  left: 20%;
  top: calc(50% + 8em);
  width: 80%;
}
.photo_blob_shape {
  -webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRjAwNjYiIGQ9Ik00OC4zLC00MC43QzYxLjksLTIxLjQsNzEuOSwtMS40LDY3LjksMTUuM0M2NCwzMiw0Ni4xLDQ1LjMsMjUuOCw1Ni4yQzUuNCw2NywtMTcuNCw3NS4zLC0zNiw2OC43Qy01NC43LDYyLjEsLTY5LDQwLjYsLTc0LjEsMTcuM0MtNzkuMSwtNi4xLC03NC44LC0zMS4yLC02MC45LC01MC41Qy00NywtNjkuOSwtMjMuNSwtODMuNiwtMy4xLC04MS4xQzE3LjMsLTc4LjcsMzQuNywtNjAuMSw0OC4zLC00MC43WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAwIDEwMCkiIC8+Cjwvc3ZnPgo=);
  mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRjAwNjYiIGQ9Ik00OC4zLC00MC43QzYxLjksLTIxLjQsNzEuOSwtMS40LDY3LjksMTUuM0M2NCwzMiw0Ni4xLDQ1LjMsMjUuOCw1Ni4yQzUuNCw2NywtMTcuNCw3NS4zLC0zNiw2OC43Qy01NC43LDYyLjEsLTY5LDQwLjYsLTc0LjEsMTcuM0MtNzkuMSwtNi4xLC03NC44LC0zMS4yLC02MC45LC01MC41Qy00NywtNjkuOSwtMjMuNSwtODMuNiwtMy4xLC04MS4xQzE3LjMsLTc4LjcsMzQuNywtNjAuMSw0OC4zLC00MC43WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAwIDEwMCkiIC8+Cjwvc3ZnPgo=);
}
.photo_blob_shape > img {
  display: block;
  width: 80%;
  object-fit: contain;
  object-position: 55px 52px;
}

.profr_blob {
  position: absolute;
  right: 15%;
  top: 13em;
}

/*section4*/
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.form_wrap {
  width: 507px;
  height: 528px;
  left: 125px;
  top: 190px;

  background: radial-gradient(
    117.25% 306.03% at -8.22% -8.98%,
    rgba(193, 193, 193, 0.2) 0%,
    rgba(193, 193, 193, 0) 100%
  );
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(5px);
}
.form_lab {
  font-family: "Song Myung";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-transform: uppercase;
}
.form_inp {
  width: 396px;
  height: 52px;
  left: 187px;
  top: 366px;

  background: radial-gradient(
    126.92% 4686.39% at -6.67% 0%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(5px);
  /* Note: backdrop-filter has minimal browser support */
}
form button {
  position: absolute;
  width: 202px;
  height: 52px;
  left: 284px;
  top: 625px;

  background: radial-gradient(
      184.94% 7380.58% at -75.25% -34.62%,
      rgba(193, 193, 193, 0.4) 0%,
      rgba(193, 193, 193, 0) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(5px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 25px;
}

/* footer */
footer {
  text-align: center;
  line-height: 3.125em;
}
/* 다크모드 */
.dark .copy {
  color: var(--FONT_W);
}

/* media */

@media screen and (max-width: 1200px) {
  .navi {
    display: none;
    opacity: 0;
  }
  .tnm_icon {
    display: block;
    opacity: 1;
    width: 30px;
    height: 30px;
    border-top: 3px solid var(--Font_B);
    border-bottom: 3px solid var(--Font_B);
    top: calc(50% - 49%);
    position: absolute;
    right: calc(50% - 45%);
  }
  .dark .tnm_icon {
    border-top: var(--FONT_W);
    border-bottom: var(--FONT_W);
  }
  .m_tit span {
    font-size: 5.25ems;
  }
}
