@media screen and (max-width: 1200px) {
  .navi {
    display: none;
    opacity: 0;
  }
  .tnm_icon {
    display: block;
    opacity: 1;
    width: 30px;
    height: 30px;
    border-top: 3px solid var(--Font_B);
    border-bottom: 3px solid var(--Font_B);
    top: calc(50% - 49%);
    position: absolute;
    right: calc(50% - 45%);
  }
  .dark .tnm_icon {
    border-top: var(--FONT_W);
    border-bottom: var(--FONT_W);
  }
  .m_tit span {
    font-size: 5.25em;
  }
  .h_icon {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .logo_img {
    margin-left: 0;
  }

  .m_tit span {
    font-size: 3.25em;
  }
}
